In [44]:
import numpy as np
import pandas as pd


df = pd.read_csv("train.csv", usecols=['X1','X2','X3','X4','X5','X6'])
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [21]:
df.shape

(4209, 6)

In [11]:
#get unique categories in one column

len(df['X1'].unique())

27

In [17]:
#get unique categories in each column

for categories in df.columns:
    print(categories, ' : ',len(df[categories].unique()), ' Unique categories')

X1  :  27  Unique categories
X2  :  44  Unique categories
X3  :  7  Unique categories
X4  :  4  Unique categories
X5  :  29  Unique categories
X6  :  12  Unique categories

In [20]:
#One hot encoding
# here we are getting 123 columns out of 5 columns not Cool so we apply one hot ecoding for multi value
pd.get_dummies(df)

,X1_a,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [22]:
pd.get_dummies(df, drop_first=True)

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [26]:
#multi value: take top 10 categories form each features

df.X2.value_counts().head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [28]:
# list with 10 most frequent variables

top_10 = [x for x in df.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [30]:
# set all in top 10 to 1 and not in top 10 to 0 in this X2

for categories in top_10:
    df[categories] = np.where(df['X2']==categories,1,0)
    
df[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

In [46]:

# now create dummy variables for each column
def one_hot_encoding_multi_value(dataframe,column_name,top_10_categories):
    for categories in top_10_categories:
        dataframe[column_name+'_'+categories] = np.where(dataframe[column_name]==categories,1,0)
    
one_hot_encoding_multi_value(df, 'X2' ,top_10)
df.head()

,X1,X2,X3,X4,X5,X6,X4_d,X4_a,X4_c,X4_b,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,1,0,0,0,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,1,0,0,0,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,1,0,0,0,0,0,0,0,0,0,1,0,0,0

In [48]:
#now for X1

top_10_x1 = [x for x in df.X1.value_counts().sort_values(ascending=False).head(10).index]

one_hot_encoding_multi_value(df, 'X1' ,top_10_x1)
df.head()

,X1,X2,X3,X4,X5,X6,X4_d,X4_a,X4_c,X4_b,...,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,at,a,d,u,j,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [49]:
#now for X3

top_10_x3 = [x for x in df.X3.value_counts().sort_values(ascending=False).head(10).index]

one_hot_encoding_multi_value(df, 'X3' ,top_10_x3)
df.head()

,X1,X2,X3,X4,X5,X6,X4_d,X4_a,X4_c,X4_b,...,X1_a,X1_c,X1_o,X3_c,X3_f,X3_a,X3_d,X3_g,X3_e,X3_b
0,v,at,a,d,u,j,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,t,av,e,d,y,l,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,w,n,c,d,x,j,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,t,n,f,d,x,l,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [50]:
#now for X4

top_10_x4 = [x for x in df.X4.value_counts().sort_values(ascending=False).head(10).index]

one_hot_encoding_multi_value(df, 'X4' ,top_10_x4)
df.head()

,X1,X2,X3,X4,X5,X6,X4_d,X4_a,X4_c,X4_b,...,X1_a,X1_c,X1_o,X3_c,X3_f,X3_a,X3_d,X3_g,X3_e,X3_b
0,v,at,a,d,u,j,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,t,av,e,d,y,l,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,w,n,c,d,x,j,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,t,n,f,d,x,l,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0